
.footer {
  background: #CDCDCD;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;

  
}

.column {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 1200px) {
  .copyright {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
@media only screen and (max-width: 1200px) {
  .copyright {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.icon {
  width: 45px;
  height: 45px;
}
.avocado {
  width: 75px;
  height: 75px;
}


a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: hotpink;
}
